<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=firstName%> <%=lastName%></title>
</head>
<body>
    <h1>User Page</h1>
    <img src="<%=avatarUrl%>" alt="user-avatar">
    <p>
        <b>Name:</b> <%=firstName%> <%=lastName%>
    </p>
</body>
</html>